/* Light Theme */
body.light {
  background-color: #ffffff;
  color: #333333;
}

button.bg-blue-600 {
  background-color: #3182ce;
}

/* Dark Theme */
body.dark {
  background-color: #1a202c;
  color: #e2e8f0;
}

button.bg-blue-600 {
  background-color: #2b6cb0;
}
